@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// https://www.realtimecolors.com/?colors=e1e6f7-050711-8f9ee2-612283-d04dd1&fonts=Poppins-Poppins

$purple-1: #050711;
$purple-2: #E1E6F7;
$purple-3: #8F9EE2;
$purple-4: #612283;

$gray-1: #14182a;

$gold-1: #f8ce00;

$green-1: #29b340;

* {
  font-family: 'Rubik', sans-serif;
  color: $purple-2;
}

body {
  background-color: $purple-1;
}

.connect-form {
  max-width: 30rem;
}

.btn-one {
  background-color: $purple-3;
  color: white;

  &:hover {
    background-color: darken($purple-3, 5%);
  }

  &:focus-visible {
    background-color: darken($purple-3, 5%);
  }

  &:active {
    background-color: darken($purple-3, 5%);
  }

  &:focus-visible {
    background-color: darken($purple-3, 5%);
  }
}

.board {
  background-color: $green-1;
  border-radius: 0.5rem;
}

.cards {
  display: flex;
  align-items: center;
}

.card-item {
  border-radius: 0.5rem;
  height: 12rem;
  width: 8.5rem;

  img {
    height: 12rem;
    width: 8.5rem;
    object-fit: cover;
  }

  transition: transform 200ms ease-in;

  &:hover {
    z-index: 1000;
    transform: scale(1.05);
    cursor: pointer;
  }
}

.card-outline {
  border: 1px dashed white;
}

.overlap-margin {
  margin-left: -6rem;
}

.lobby {
  background-color: $gray-1;
  border-radius: 0.5rem;
}

.pulse-blue {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 22, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(84, 116, 241, 0);
  }
}

.card-user-info {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-info {
  display: flex;
  align-items: center;
}

.hands-won {
  img {
    height: 2rem;
    margin-left: -0.5rem;
  }

  // cancel out the -0.5rem from above
  img:nth-child(1) {
    margin-left: 0;
  }
}

@include media-breakpoint-up(md) {
  .d-none-md-up {
    display: none !important;
  }
}

@include media-breakpoint-down(md) {

  .game-info {
    display: block;

    div {
      margin-left: 0;
    }

  }

  .selected-card {
    border: 2px solid #3970a4 !important;
    border-radius: 0.25rem;
  }

  .overlap-margin {
    margin-left: -4.25rem;
  }

  .d-none-md-down {
    display: none !important;
  }

  .card-item {
    height: 8rem;
    width: 5.5rem;

    img {
      height: 8rem;
      width: 5.5rem;
      object-fit: cover;
      border: 1px solid #0000001c;
      border-radius: 0.25rem;
    }
  }
}